<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--<div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
      </div> -->
        <p>DiabetesLab S.r.l. Via Sommarive, 18, 38123 Trento, Italy. VAT ID: IT02347840221. </p>
        <p>Contact: &#111;&#108;&#103;&#097;&#064;&#100;&#101;&#101;&#112;&#108;&#101;&#097;&#114;&#110;&#046;&#105;&#116; Piazza della Portella 11, 38122 Trento, Italy. VAT ID: IT02428930222.</p>
        <p>Design by <a href="http://www.themefisher.com">Themefisher</a>.</p>
      </div>
    </div>
  </div>
</footer>
